*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
    background-image: url(../image/background_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
   background-color: rgb(10, 71, 95);
   line-height: 95px;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   top: 0;
   position: fixed;
   z-index: 1000;
}
label.header {
   color: white;
   font-size: calc(15px + 1vw);
   padding: 0 30px;
   font-weight: bolder;
}

.header span {
    display: inline-block;
}

.header span:first-child {
    color: skyblue;
 }

 .header span:last-child {
    color:grey;
 }

 section {
    margin: 25px;
    margin-top: 130px;
 }

 .container {
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow:0 20px rgba(0, 0, 0, 0.3) ;
    width: 500px;
    margin: 0 auto;
 }

 .form {
    padding: 20px 40px;
 }

 .form-control {
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
 }



 .form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
 }

 .form-control input,
 .form-control select{
   border: 2px solid  #f0f0f0;
   border-radius: 4px;
   display: block;
   padding: 10px;
   font-size: 14px;
   width: 100%;
   font-weight: bolder;
 }

   .form-control select,
   .form-control input[type="date"]{
   background-color: rgb(10, 71, 95);color: white;
   }
 
 .form button  {
    cursor: pointer;
    background-color: rgb(10, 71, 95);
    border: 2px solid #f2f2f8;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
 }

 .form h2 {
   margin: 0 0 20px;
   text-align: center;
   color: skyblue;
 }